.dec2022-session-recording {
  text-align: center;
  padding: 0 1rem 0rem 1rem;
  .dec2022-session-recording-heading {
    padding-top: 4rem;
    font-size: 40px;
    color: #636363;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -40px;
      bottom: -40px;
      width: 80px;
      height: 2px;
      background-color: #20409b;
    }
  }
}

.dec2022-sidebar-container {
  position: relative;
  overflow: hidden;
  width: 50%;
}

.dec2022-yt-sidebar {
  background-color: #202020;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 80%;

  &-header {
    padding: 1rem;
    padding-bottom: 0rem;
    text-align: start;
    color: white;
    font-size: 1rem;
    height: 20%;
    &-subheading {
      color: #aaa;
      font-size: 0.8rem;
    }
  }
  &-body {
    overflow-y: auto;
    height: 88%;
    background-color: #061c25;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 50px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &-list {
      height: 200px;
      padding-top: 0.8rem;

      &-item {
        margin-bottom: 0.5rem;
        padding: 5px 0;
        height: 60px;
        display: flex;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

.dec2022 {
  &-listId {
    color: #a3bfcc;
    padding-left: 0.5rem;
    padding-top: 0.7rem;
    width: 10%;
    text-align: start;
  }
  &-listText {
    width: 65%;
  }
  &-listImg {
    width: 25%;
    display: block;
    object-fit: cover;
  }

  &-listHeading {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: start;
    color: white;
    text-overflow: ellipsis;
  }
  &-listSubheading {
    padding-left: 1rem;
    font-size: 0.75rem;
    text-align: start;
    color: #a3bfcc;
  }
}

.dec2022-youtube-wrapper {
  display: flex;
  width: 80vw;
  height: 100%;
}

.dec2022-youtube-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.dec2022-youtube-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
}

// This CSS is Global Styling

@media screen and (max-width: 1080px) {
  .dec2022-youtube-wrapper {
    width: 85vw;
  }
}
@media screen and (max-width: 768px) {
  .dec2022-youtube-wrapper {
    width: 90vw;
    flex-direction: column;
  }

  .dec2022-sidebar-container {
    position: relative;
    top: -4.5rem;
    height: 400px;
    width: 100%;
  }
}
@media screen and (max-width: 536px) {
  .dec2022-youtube-wrapper {
    width: 98vw;
  }

  .dec2022-sidebar-container {
    position: relative;
    top: -2rem;
    height: 350px;
    width: 100%;
  }
}
