$base-color-blue: #2c4fb4;

.dec2021-agenda {
  text-align: center;
  background-color: rgba(245, 246, 246, 0.56);
  cursor: default;
  .dec2021-agenda-heading {
    padding: 5rem 0 4rem 0;
    color: #636363;
    font-size: 40px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -40px;
      bottom: 20px;
      width: 80px;
      height: 2px;
      background-color: #2c4fb4;
    }
  }
  .dec2021-agenda-para-text-1,
  .dec2021-agenda-para-text-2 {
    line-height: 1.9rem;
    font-size: 1.3rem;
  }
  .dec2021-track-list {
    padding-top: 4rem;
    .dec2021-tracks {
      color: #fff;
      padding: 0 2rem;

      .dec2021-track-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background-color: rgba(132, 164, 255, 0.2);
        color: rgba(54, 51, 51, 1);
        padding: 1rem 0rem 1.4rem 0rem;
        cursor: pointer;
      }
      .dec2021-track-head {
        font-size: 36px;
        letter-spacing: 2px;
        display: block;
        .dec2021-track-head-span {
          font-size: 1.2rem;
        }
      }
      .dec2021-track-date {
        display: block;
        height: 26px;
      }
      .dec2021-track-span {
        display: block;
        font-size: 15px;
      }
    }
  }
  .dec2021-trackdata {
    padding: 0 2rem 0rem 2rem;
  }

  .dec2021-trackdata-bg:last-child {
    border: none;
  }
  .dec2021-trackdata-bg {
    border-bottom: 1px solid #dddddd;
    box-shadow: -4px -2px 10px 4px #0000001a;
    padding: 1.6rem 0.6rem;
    margin: 1.5rem 0;
    background-color: #fff;
    .dec2021-event-time {
      font-size: 20px;
      opacity: 1;
      padding: 15px 0 0 0;
    }
    .dec2021-event-desc {
      font-size: 1.3rem;
      text-align: left;
      line-height: 1.8rem;
      padding: 15px 25px;
      font-weight: 600;
      letter-spacing: 0rem;
      color: #000;
    }
    .dec2021-speaker-head {
      font-size: 1.4rem;
      opacity: 1;
      color: #363333;
      padding-bottom: 20px;
    }
    .dec2021-event-teams {
      margin: auto;
      display: inline-block;
      padding-left: 20px;
      a {
        text-decoration: none;
      }

      .dec2021-join-here-head {
        font-size: 1.4rem;
        opacity: 100%;
        color: #363333;
        padding-bottom: 20px;
      }
      .dec2021-teams-image {
        height: 60px;
      }
      .dec2021-teams-img__description {
        color: #fff;
        font-size: 20px;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
.dec2021-track-row {
  display: flex;
  justify-content: center !important;
}

.dec2021-agenda-speaker-img {
  // display: inline-block;
  cursor: pointer;
  height: 70px;
  width: 70px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  }
}
.dec2021-agenda-speaker-name {
  display: block;
  text-align: center;
  padding-top: 10px;
}

// for only Desktop
@media only screen and (min-width: 1025px) {
  .dec2021-agenda {
    padding: 0 8% 5rem 8%;
  }
}

// for only Mobile
@media only screen and (max-width: 767px) {
  .dec2021-agenda {
    padding: 15px;
    .dec2021-trackdata-bg {
      text-align: center;
      .dec2021-event-time {
        font-size: 20px;
      }
      .dec2021-event-teams {
        padding-top: 60px;
        text-align: center;
      }
      .dec2021-event-desc {
        font-size: 20px;
        padding: 20px 0 0 0;
      }
      .dec2021-event-speakers {
        font-size: 24px;
        font-weight: 600;
        padding: 40px 0 0 0;
        .dec2021-speaker-head {
          font-weight: 700;
          text-align: center;
        }
        .dec2021-agenda-speaker-name {
          font-size: 15px;
        }
      }
    }
    .dec2021-track-list {
      padding-top: 60px;
      .dec2021-track-row {
        padding: 0;
      }
      .dec2021-tracks {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
        .dec2021-track-data {
          padding: 10px 0px;
          .dec2021-track-head {
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 1px;
          }
          .dec2021-track-span {
            font-size: 12px;
          }
        }
      }
    }
    .dec2021-trackdata {
      padding: 15px 0;
    }
    .dec2021-speaker-wrapper-teams {
      float: left;
    }
    .dec2021-event-teams {
      padding: 0 !important;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .dec2021-trackdata-bg {
    padding-left: 8% !important;
  }
}

//for ipad pro only
@media only screen and (max-width: 768px) {
  .dec2021-agenda {
    .dec2021-trackdata-bg .dec2021-event-time {
      text-align: center;
      padding: 0 0 0 25px;
    }
    .dec2021-trackdata-bg .dec2021-event-speakers {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
    }
    .dec2021-track-list .dec2021-tracks .dec2021-track-head {
      font-size: 28px;
    }
  }
  .dec2021-agenda .dec2021-trackdata-bg .dec2021-event-desc {
    text-align: center;
    margin: 0px;
  }
}

//for ipad pro only
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .dec2021-agenda {
    padding: 0;
  }
}

.dec2021-speaker1,
.dec2021-speaker2,
.dec2021-speaker3 {
  display: inline-block;
  padding: 10px;
  .dec2021-img-loading {
    animation: flashAnimation 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
    opacity: 0;
  }
}

@keyframes flashAnimation {
  0% {
    background-color: #fff;
    opacity: 0;
  }
  50% {
    background-color: #ccc;
    opacity: 1;
  }
  100% {
    background-color: #fff;
    opacity: 0;
  }
}
