$aboutHedaingColor: white;
$borderBottomColor: #ffffff;

.dec-2023 {
  .about {
    width: 80%;
    margin: auto;
  }
  .aboutHeadingBox {
    padding-top: min(15%, 8rem);
  }
  .aboutHeading {
    color: white;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid $borderBottomColor;
  }
  .aboutHeadingText {
    color: $aboutHedaingColor;
    line-height: 1.5 !important;
  }
  .aboutSubheadingText {
    color: $aboutHedaingColor;
    line-height: 1.5 !important;
  }
  .aboutButton {
    border-radius: 100rem;
    font-family: "Roboto";
    padding-inline: max(3%, 40px);
    color:white;

    // &:hover {
    //   background-color: #303080 !important;
    // }
  }
}
