$base-color-blue: #00a1f1;
$base-color-black: #636363;
.countDown {
  text-align: center;
  padding: 4rem 0;
  margin: auto;
  max-width: 60%;
  .countDown-row {
    padding: 35px 0px;
    border-radius: 40px;
    background-color: hsl(0, 0%, 97%);
    background: linear-gradient(0.25turn, #00a3ff, 1%, white);
    box-shadow: 0px 4px 10px 2px #0000001a;
    // min-width: 50%;
    // margin: auto;
    .timer-date {
      color: $base-color-black;
      font-weight: 600;
      font-size: 2.2vw;
      letter-spacing: 2px !important;
    }
    .timer-title {
      color: $base-color-black;
      font-weight: 400;
      font-size: 1.1vw;
    }
    .react-countdown {
      li {
        padding: 0 4%;
        margin: auto;
      }
      .digit {
        font-size: 2vw;
        color: $base-color-black;
      }
      .text {
        font-size: 1.1vw;
        color: $base-color-blue !important;
        text-transform: capitalize !important;
        letter-spacing: 3px !important;
        margin-top: 0vw;
      }
      li:after {
        position: absolute;
        top: -1vw;
        right: -7px;
        font-size: 3vw;
        color: #c4c4c4;
      }
    }
  }
}

// for only mobiile
@media only screen and (max-width: 768px) {
  .col {
    padding: 0;
  }
  .countDown-mobile {
    text-align: center;
    .timer-data-row {
      padding-top: 42px;
      padding-bottom: 12px;
    }
    .timer-date-mobile {
      color: $base-color-black;
      font-weight: 600;
      font-size: 35px !important;
      letter-spacing: 2px !important;
    }
    .timer-title-mobile {
      color: $base-color-black;
      font-weight: 400;
      font-size: 20px;
    }
    .timer-mobile {
      padding: 36px 10px 0 10px;
    }
    .react-countdown {
      background: linear-gradient(0.25turn, #00a3ff, 1%, white);
      padding: 18px 0;
      border-radius: 20px;
      li {
        padding: 0 20px;
        margin: auto;
      }
      .digit {
        font-size: 36px !important;
        color: $base-color-black;
      }
      .text {
        font-size: 16px !important;
        color: $base-color-blue !important;
        text-transform: capitalize !important;
        letter-spacing: 3px !important;
        margin-top: -2px !important;
      }
      li:after {
        top: 1px;
        right: -4px;
        font-size: 32px;
      }
    }
  }
}

// for tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
  .countDown {
    max-width: 70%;
    .countDown-row .react-countdown li {
      padding: 0 14px;
      margin: auto;
    }
    .countDown-row {
      .timer-date {
        font-size: 3.2vw;
      }
      .timer-title {
        font-size: 1.5vw;
      }
    }
    .countDown-row .react-countdown {
      .digit {
        font-size: 3vw;
      }
      .text {
        font-size: 1.6vw;
      }
    }
    // .countDown-row .react-countdown li:after {
    //   top: -18px;
    //   right: -6px;
    // }
  }
}
