.footer {
  background-color: #363333;
  color: #ffffff;
  .footer-wrapper {
    padding: 4rem 6rem;
    justify-content: center;
  }
  .footer-logo-wrapper {
    justify-content: center;
  }
  .footerlogo {
    width: 70%;
    align-self: center;
  }
  .contact-us-wrapper {
    padding: 40px 0 0 0;
    h4 {
      font-size: 30px;
      padding: 0 0 20px 0;
    }
  }
  .social-media-wrapper {
    padding: 40px 0 0 0;
    h4 {
      font-size: 30px;
      padding: 0 0 20px 0;
    }
    .media-array {
      margin: 0 auto;
    }
    .social-media-icon {
      color: #fff;
      padding: 0 22px;
    }
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
  }
}

// @media (max-width: 576px) {
//   .footerlogo {
//     max-width: 100%;
//   }
// }

// for mobile
@media only screen and (max-width: 768px) {
  .footer {
    .footer-wrapper {
      padding: 4rem 0;
    }
    .footerlogo {
      width: 60%;
    }
  }
}
