$base-color-blue: #20409b;
.modal-header {
  background-color: $base-color-blue;
  padding: 20px 40px;
  color: #fff;
  position: relative;
  .modal-title {
    font-size: 26px;
    font-weight: 600;
  }
  .close {
    margin: 0px !important;
  }
}
/** overriding reactstrap **/
.agenda-dialog {
  width: auto;
  margin: 0.5rem;
  .modal-body {
    padding: 30px 30px;
  }
}

.modal-body {
  padding: 30px 60px;
  .session-Title {
    span {
      font-weight: 700;
      font-size: 1.4rem;
    }
  }
  .speaker-array {
    text-align: center;
    padding-top: 30px;
  }
  .speaker-img {
    width: 115px;
    height: 130px;
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
  }
  .speaker-name {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.session-introtext {
  font-size: 1rem;
  text-align: justify;
  span {
    white-space: pre-line;
  }
}
.bg-grey {
  background-color: #f8f8f8;
}
// .modal-header .close{
//   display: none !important;
// }
.speaker-details {
  padding: 50px 10%;
}
.modal-image {
  width: 90%;
  height: 350px;
  object-fit: cover;
  object-position: top;
}
.speaker-information {
  text-align: justify;
  white-space: pre-line;
}
.close {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-image: url("./images/website/close.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  right: 5%;
  opacity: 1;
}
.image-array img {
  height: 40px;
  &:hover {
    transform: scale(1.1);
  }
}
.divider {
  height: 3px;
  background-color: #60606033;
  margin: 20px auto;
}
.speaker-session {
  color: #41b2f1;
  font-weight: 400;
  font-size: 1.3rem;
}

.speaker-session-details {
  .divider {
    margin: 20px auto;
  }
  .row {
    padding-bottom: 15px;
    .modal-track-num {
      background-color: $base-color-blue;
      padding: 5px 0;
      color: #fff;
      justify-content: center;
      font-weight: 500;
      border-radius: 20px;
    }
    .speaker-session-time {
      span {
        background-color: rgba(132, 164, 255, 0.2);
        padding: 5px 15px;
        color: #000;
        justify-content: center;
        font-weight: 400;
        border-radius: 20px;
      }
    }
    div {
      display: flex;
    }
  }
  .speaker-session-title {
    color: $base-color-blue;
    font-weight: 600;
    font-size: 18px;
  }
}

@media only screen and (min-width: 576px) {
  .agenda-dialog {
    max-width: 500px;
    margin: 1rem auto;
  }
}
@media only screen and (min-width: 750px) {
  .agenda-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
    .modal-body {
      padding: 30px 60px;
    }
  }
}
