.cursor-none {
  cursor: initial;
}
.cursor-click {
  cursor: pointer;
}
.keynote,
.speakers {
  padding: 2rem 15%;
}
.speakers {
  background-color: rgba(245, 246, 246, 0.56);
}
.keynote-heading,
.speaker-heading {
  font-size: 2.5rem;
  color: #636363;
  margin: 4rem 0;
  text-transform: uppercase;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: -40px;
    width: 80px;
    height: 2px;
    background-color: #00a1f1;
  }
}
h3 {
  font-size: 2.125rem;
}
.keynote-card {
  border: none;
  height: 100%;
  .card-body {
    background-color: rgba(65, 178, 241, 0.16);
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .card-subtitle {
      white-space: pre-line;
    }
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
      font-weight: 500;
    }
    .card-linkedIn {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }
  .social-media-array {
    padding-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    a,
    div {
      padding-right: 20px;
    }
  }
}
.speaker-card-wrapper {
  padding: 24px;
}
.speaker-card {
  border: none;
  height: 100%;
  .card-title-wrapper {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41b2f1;
    cursor: pointer;
  }
  .card-title {
    color: #ffffff;
    font-size: 2rem;
  }
  .card-body {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    p {
      font-size: 1.5rem;
      white-space: pre-line;
    }

    .card-text {
      font-weight: 600;
    }
    .social-media-array {
      display: flex;
      flex-wrap: nowrap;
      padding-top: 20px;
      a {
        padding-right: 20px;

        .card-socialmedia {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
      div {
        padding-right: 20px;
        .card-socialmedia {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
    }
  }
}
.nopadding {
  padding: 0 !important;
}
.LazyLoad {
  margin: auto;
}
.keynote-image img {
  object-fit: cover;
  height: 100%;
  object-position: top;
  width: 100%;
}

.speaker-image {
  position: relative;
  cursor: pointer;
}
.speaker-image img {
  object-fit: cover;
  height: 100%;
  object-position: top;
  width: 100%;
}

.img-loading {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.img-loaded {
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
#cube {
  position: absolute;
  top: 50%;
  left: 50%;
}
.keynote-image #cube {
  position: absolute;
  top: 30%;
  left: 50%;
}
.square {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #4b9cdb;
  animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@keyframes loadingG {
  0% {
    transform: translate(-120px, 0) rotate(0deg);
  }
  50% {
    transform: translate(70px, 0) rotate(360deg);
  }
  100% {
    transform: translate(-120px, 0) rotate(0deg);
  }
}
@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1750px) {
  .keynote,
  .speakers {
    padding: 2rem 10%;
  }
}
@media only screen and (max-width: 576px) {
  .keynote,
  .speakers {
    padding: 2rem 0;
  }
}
